<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="numberGenerator" class="academy.learprogramming.NumberGeneratorImpl"></bean>

    <bean id="game" class="academy.learprogramming.GameImpl">
<!--        constructor based dependency injection-->
<!--        <constructor-arg ref="numberGenerator"></constructor-arg>-->

<!--        setter based dependency injection (name must match property/field name, ref must match bean id) -->
        <property name="numberGenerator" ref="numberGenerator"></property>
    </bean>

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"></bean>

</beans>

