<h3>Assigment6</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email2" class="form-control" ngModel name="email" required email #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Choose a Subscription</label>
          <select name="subscription" id="subscription" [ngModel]="selectedSubscription" class="form-control">
            <!-- <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option> -->
            <option *ngFor="let e of subscriptions" [value]="e">{{e}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel required class="form-control"
            #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password</span>
        </div>
        <p *ngIf="!signupForm.valid && signupForm.touched">The form is invalid!</p>
        <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Submit</button>
      </form>

      <div *ngIf="submitted">
        <h4>Your data:</h4>
        <p>{{data.email}}</p>
        <p>{{data.subscription}}</p>
        <p>{{data.password}}</p>
      </div>
    </div>
  </div>
</div>
