##########################
## IntelliJ
##########################
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/

##########################
## Eclipse
##########################
.metadata
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath


# Ignore native extensions in the node_modules folder (things changed by npm rebuild)
node_modules/**/*.node
node_modules/**/*.o
node_modules/**/*.a
node_modules/**/*.mk
node_modules/**/*.gypi
node_modules/**/*.target
node_modules/**/.deps/
node_modules/**/build/Makefile
node_modules/**/**/build/Makefile

Javascript/9-forkify/starter/node_modules/
Angular/00_angular-tour-of-heroes/node_modules/
Angular/01_my-first-app/node_modules/
Angular/02_databinding/node_modules/
Angular/02_databinding_assignment/node_modules/
Angular/03_directives/node_modules/
Angular/04_services/node_modules/
Angular/04_services_assignment/node_modules/
Angular/
Angular/
Angular/
Angular/
Angular/
Angular/
Angular/
Angular/

