##########################
## IntelliJ
##########################
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/

##########################
## Eclipse
##########################
.metadata
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# dependencies
/node_modules

Javascript/9-forkify/starter/node_modules/
Angular/00_angular-tour-of-heroes/node_modules/
Angular/01_my-first-app/node_modules/
Angular/02_databinding/node_modules/
Angular/02_databinding_assignment/node_modules/
Angular/03_directives/node_modules/
Angular/04_services/node_modules/
Angular/04_services_assignment/node_modules/
Angular/05_routing/node_modules/

/Angular/Recipe_Book_02/node_modules
