<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--used for enabling annotation, but later replaced with components-scan-->
<!--    <context:annotation-config></context:annotation-config>-->
    <context:component-scan base-package="academy.learprogramming"></context:component-scan>


    <!--    every bean below replaced after enabling component-scan:-->
<!--    <bean id="numberGenerator" class="academy.learprogramming.NumberGeneratorImpl"></bean>-->

<!--    <bean id="game" class="academy.learprogramming.GameImpl">-->
<!--        replaced with autowiring (both)        -->
<!--        constructor based dependency injection-->
<!--        <constructor-arg ref="numberGenerator"></constructor-arg>-->

<!--        setter based dependency injection (name must match property/field name, ref must match bean id) -->
<!--        <property name="numberGenerator" ref="numberGenerator"></property>-->
<!--    </bean>-->

<!--    replaced with autowiring-->
<!--    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"></bean>-->

</beans>

