<!-- Displays list of heroes: -->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}} 
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>
</div>

<!-- *ngFor iterates trhough an array 
  (repeats the host element for each element in a list) -->



  <!-- Before here was code displaying selected hero details.
  Now here is only 'link' to selected hero details:  -->
  <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
  

  
  <!-- [class.selected]="hero === selectedHero"
   (click)="onSelect(hero)" -->