<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title content</title>
</head>
<body>
<div align="center">
    <h1>Welcome to Guess the Number Game</h1>
    <h3>
        <a id="play-game"
           href="play.html">
            Click to Play
        </a>
    </h3>
    <div id="footerId">Footer goes here</div>
</div>
</body>
</html>

        <!--    th:text="Play" replaces 'Click to Play' into 'Play'-->
        <!--    th:href="play" replaces href into localhost/8080 -->