<h3>Asignment #02 ===============================================================</h3>
<ol>
    <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
    <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
    <li>Add a button which may only be clicked if the username is NOT an empty string</li>
    <li>Upon clicking the button, the username should be reset to an empty string</li>
</ol>

<label>User Name</label>

<input type="text" class="form-control" id="myInput#2" [(ngModel)]="userName">
<p>Hi, this is a user, my name is: {{userName}}</p>
<button class="btn btn-primary" [disabled]="userName === ''" (click)="onResetUser()">Reset user name</button>